@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "汉仪清庭-55简"
  src: local("汉仪清庭-55简"), url("../lib/font-tmp/chinese-font/汉仪清庭-55简.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "汉仪新蒂日记体"
  src: local("汉仪新蒂日记体"), url("../lib/font-tmp/chinese-font/汉仪新蒂日记体.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "汉仪张乃仁行书W"
  src: local("汉仪张乃仁行书W"), url("../lib/font-tmp/chinese-font/汉仪张乃仁行书W.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "站酷小薇LOGO体"
  src: local("站酷小薇LOGO体"), url("../lib/font-tmp/chinese-font/站酷小薇LOGO体.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "逐浪创意含羞体"
  src: local("逐浪创意含羞体"), url("../lib/font-tmp/chinese-font/逐浪创意含羞体.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "字体中国锐博体"
  src: local("字体中国锐博体"), url("../lib/font-tmp/chinese-font/字体中国锐博体.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "方正正黑简体"
  src: local("方正正黑简体"), url("../lib/font-tmp/chinese-font/方正正黑简体.ttf") format("truetype")



@font-face
  font-style: normal
  font-family: "PlateGtFourMTStd"
  src: local("PlateGtFourMTStd"), url("../lib/font-tmp/chinese-font/PlateGtFourMTStd.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "方正赞美体 简 ExtraLight"
  src: local("方正赞美体 简 ExtraLight"), url("../lib/font-tmp/chinese-font/方正赞美体 简 ExtraLight.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "方正赞美体 简 Light"
  src: local("方正赞美体 简 Light"), url("../lib/font-tmp/chinese-font/方正赞美体 简 Light.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "方正晴朗体 简 ExtraLight"
  src: local("方正晴朗体 简 ExtraLight"), url("../lib/font-tmp/chinese-font/方正晴朗体 简 ExtraLight.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "方正晴朗体 简 Light"
  src: local("方正晴朗体 简 Light"), url("../lib/font-tmp/chinese-font/方正晴朗体 简 Light.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "方正强克体 简 ExtraLight"
  src: local("方正强克体 简 ExtraLight"), url("../lib/font-tmp/chinese-font/方正强克体 简 ExtraLight.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "方正强克体 简 Light"
  src: local("方正强克体 简 Light"), url("../lib/font-tmp/chinese-font/方正强克体 简 Light.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZSanBTJW_Xian"
  src: local("FZSanBTJW_Xian"), url("../lib/font-tmp/chinese-font/FZSanBTJW_Xian.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZSanBTJW_Xi"
  src: local("FZSanBTJW_Xi"), url("../lib/font-tmp/chinese-font/FZSanBTJW_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZZhuoYTJW_Xian"
  src: local("FZZhuoYTJW_Xian"), url("../lib/font-tmp/chinese-font/FZZhuoYTJW_Xian.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZZhuoYTJW"
  src: local("FZZhuoYTJW"), url("../lib/font-tmp/chinese-font/FZZhuoYTJW.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZFengYKSJF_Xi"
  src: local("FZFengYKSJF_Xi"), url("../lib/font-tmp/chinese-font/FZFengYKSJF_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZFengYKSJF_Zhun"
  src: local("FZFengYKSJF_Zhun"), url("../lib/font-tmp/chinese-font/FZFengYKSJF_Zhun.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZFengYKSJF_Zhong"
  src: local("FZFengYKSJF_Zhong"), url("../lib/font-tmp/chinese-font/FZFengYKSJF_Zhong.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZFengYKSJ_Xi"
  src: local("FZFengYKSJ_Xi"), url("../lib/font-tmp/chinese-font/FZFengYKSJ_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZFengYKSJ"
  src: local("FZFengYKSJ"), url("../lib/font-tmp/chinese-font/FZFengYKSJ.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZFengYKSJ_Zhun"
  src: local("FZFengYKSJ_Zhun"), url("../lib/font-tmp/chinese-font/FZFengYKSJ_Zhun.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZYingLTJ_Xian"
  src: local("FZYingLTJ_Xian"), url("../lib/font-tmp/chinese-font/FZYingLTJ_Xian.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZYingLTJ_Xi"
  src: local("FZYingLTJ_Xi"), url("../lib/font-tmp/chinese-font/FZYingLTJ_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZYingLTJ"
  src: local("FZYingLTJ"), url("../lib/font-tmp/chinese-font/FZYingLTJ.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZYongKTJF_Xian"
  src: local("FZYongKTJF_Xian"), url("../lib/font-tmp/chinese-font/FZYongKTJF_Xian.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZYongKTJF_Xi"
  src: local("FZYongKTJF_Xi"), url("../lib/font-tmp/chinese-font/FZYongKTJF_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZBingNanYuanSJW"
  src: local("FZBingNanYuanSJW"), url("../lib/font-tmp/chinese-font/FZBingNanYuanSJW.TTF") format("truetype")

/*
@font-face
  font-style: normal
  font-family: "FZPiaoTJW_Xian"
  src: local("FZPiaoTJW_Xian"), url("../lib/font-tmp/chinese-font/FZPiaoTJW_Xian.TTF") format("truetype")
*/

@font-face {
          font-family: 'FZPiaoTJW_Xian';
          src: url('../lib/font-tmp/chinese-font/FZPiaoTJW_Xian..eot');
          src:
            url('../lib/font-tmp/chinese-font/FZPiaoTJW_Xian.eot?#font-spider') format('embedded-opentype'),
            url('../lib/font-tmp/chinese-font/FZPiaoTJW_Xian.woff2') format('woff2'),
            url('../lib/font-tmp/chinese-font/FZPiaoTJW_Xian.woff') format('woff'),
            url('../lib/font-tmp/chinese-font/FZPiaoTJW_Xian.ttf') format('truetype'),
            url('../lib/font-tmp/chinese-font/FZPiaoTJW_Xian.svg') format('svg');
          font-weight: normal;
          font-style: normal;
        }

@font-face
  font-style: normal
  font-family: "FZPiaoTJW_Xi"
  src: local("FZPiaoTJW_Xi"), url("../lib/font-tmp/chinese-font/FZPiaoTJW_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZQingLTJW_Xian"
  src: local("FZQingLTJW_Xian"), url("../lib/font-tmp/chinese-font/FZQingLTJW_Xian.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZQingLTJW_Xi"
  src: local("FZQingLTJW_Xi"), url("../lib/font-tmp/chinese-font/FZQingLTJW_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "方正姚体简体"
  src: local("方正姚体简体"), url("../lib/font-tmp/chinese-font/方正姚体简体.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "正清刻本悦宋简体"
  src: local("正清刻本悦宋简体"), url("../lib/font-tmp/chinese-font/正清刻本悦宋简体.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "方正明尚简体"
  src: local("方正明尚简体"), url("../lib/font-tmp/chinese-font/方正明尚简体.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZFeiFTJF_Xi"
  src: local("FZFeiFTJF_Xi"), url("../lib/font-tmp/chinese-font/FZFeiFTJF_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZFeiFTJ"
  src: local("方正FZFeiFTJ"), url("../lib/font-tmp/chinese-font/FZFeiFTJ.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZYASHJW_Xian"
  src: local("FZYASHJW_Xian"), url("../lib/font-tmp/chinese-font/FZYASHJW_Xian.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "FZYASHJW_Xi"
  src: local("FZYASHJW_Xi"), url("../lib/font-tmp/chinese-font/FZYASHJW_Xi.TTF") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪铸字黑魔法W"
  src: local("汉仪铸字黑魔法W"), url("../lib/font-tmp/chinese-font/汉仪铸字黑魔法W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪铸字烈焰体W"
  src: local("汉仪铸字烈焰体W"), url("../lib/font-tmp/chinese-font/汉仪铸字烈焰体W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪锐智W"
  src: local("汉仪锐智W"), url("../lib/font-tmp/chinese-font/汉仪锐智W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪铸字招牌黑W"
  src: local("汉仪铸字招牌黑W"), url("../lib/font-tmp/chinese-font/汉仪铸字招牌黑W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪古趣W"
  src: local("汉仪古趣W"), url("../lib/font-tmp/chinese-font/汉仪古趣W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪趣黑W"
  src: local("汉仪趣黑W"), url("../lib/font-tmp/chinese-font/汉仪趣黑W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪黑仔体W"
  src: local("汉仪黑仔体W"), url("../lib/font-tmp/chinese-font/汉仪黑仔体W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪细等线简"
  src: local("汉仪细等线简"), url("../lib/font-tmp/chinese-font/汉仪细等线简.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪意宋W"
  src: local("汉仪意宋W"), url("../lib/font-tmp/chinese-font/汉仪意宋W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪文黑-45W"
  src: local("汉仪文黑-45W"), url("../lib/font-tmp/chinese-font/汉仪文黑-45W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪文黑-35W"
  src: local("汉仪文黑-35W"), url("../lib/font-tmp/chinese-font/汉仪文黑-35W.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "汉仪良品线简"
  src: local("汉仪良品线简"), url("../lib/font-tmp/chinese-font/汉仪良品线简.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "汉仪典雅体简"
  src: local("汉仪典雅体简"), url("../lib/font-tmp/chinese-font/汉仪典雅体简.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "汉仪细秀体简"
  src: local("汉仪细秀体简"), url("../lib/font-tmp/chinese-font/汉仪细秀体简.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "锐字工房锐倩"
  src: local("锐字工房锐倩"), url("../lib/font-tmp/chinese-font/锐字工房锐倩.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "PARaDOS"
  src: local("PARaDOS"), url("../lib/english-font/PARaDOS.woff2") format("woff2")


@font-face
  font-style: normal
  font-family: "Gill Sans MT Light"
  src: local("Gill Sans MT Light"), url("../lib/english-font/Gill Sans MT Light.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Lora-Regular"
  src: local("Lora-Regular"), url("../lib/english-font/Lora-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Luna-ITC"
  src: local("Luna-ITC"), url("../lib/english-font/Luna-ITC.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "LunaITCStd"
  src: local("LunaITCStd"), url("../lib/english-font/LunaITCStd.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "OceanSansStd-BookSemiExt"
  src: local("OceanSansStd-BookSemiExt"), url("../lib/english-font/OceanSansStd-BookSemiExt.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "OceanSansStd-Light"
  src: local("OceanSansStd-Light"), url("../lib/english-font/OceanSansStd-Light.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "PlayfairDisplay-Regular.pfb"
  src: local("PlayfairDisplay-Regular.pfb"), url("../lib/english-font/PlayfairDisplay-Regular.pfb.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "Sofia-Pro-Light"
  src: local("Sofia-Pro-Light"), url("../lib/english-font/Sofia-Pro-Light.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "Monaco"
  src: local("Monaco"), url("../lib/english-font/Monaco.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "SF-UI-Display-Regular"
  src: local("SF-UI-Display-Regular"), url("../lib/english-font/SF-UI-Display-Regular.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "Menlo-Regular"
  src: local("Menlo-Regular"), url("../lib/english-font/Menlo-Regular.ttf") format("truetype")



@font-face
  font-style: normal
  font-family: "Menlo for Powerline"
  src: local("Menlo for Powerline"), url("../lib/english-font/Menlo for Powerline.ttf") format("truetype")


@font-face
  font-style: normal
  font-family: "OperatorMono-Book"
  src: local("OperatorMono-Book"), url("../lib/english-font/Operator Mono/OperatorMono-Book.otf") format("truetype")



@font-face
  font-style: normal
  font-family: "OperatorMono-Book"
  src: local("OperatorMono-Book"), url("../lib/english-font/Operator Mono/OperatorMono-Book.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "OperatorMono-Medium"
  src: local("OperatorMono-Medium"), url("../lib/english-font/Operator Mono/OperatorMono-Medium.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "OperatorMono-Light"
  src: local("OperatorMono-Light"), url("../lib/english-font/Operator Mono/OperatorMono-Light.otf") format("truetype")

//////////////////////////////////////////////////////////////////


@font-face
  font-style: normal
  font-family: "PARaDOS"
  src: local("PARaDOS"), url("../lib/font-tmp/chinese-font/PARaDOS.woff2") format("woff2")


@font-face
  font-style: normal
  font-family: "FZPiaoTJW_Xian"
  src: local("FZPiaoTJW_Xian"), url("../lib/font-tmp/chinese-font/FZPiaoTJW_Xian.woff2") format("woff2")

@font-face
  font-style: normal
  font-family: "FZPiaoTJW_Xi"
  src: local("FZPiaoTJW_Xi"), url("../lib/font-tmp/chinese-font/FZPiaoTJW_Xi.woff2") format("woff2")

@font-face
  font-style: normal
  font-family: "OperatorMono-BookItalic"
  src: local("OperatorMono-BookItalic"), url("../lib/font-tmp/chinese-font/OperatorMono-BookItalic.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "OperatorMono-BoldItalic"
  src: local("OperatorMono-BoldItalic"), url("../lib/font-tmp/chinese-font/OperatorMono-BoldItalic.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "OperatorMono-LightItalic"
  src: local("OperatorMono-LightItalic"), url("../lib/font-tmp/chinese-font/OperatorMono-LightItalic.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "OperatorMono-Book"
  src: local("OperatorMono-Book"), url("../lib/font-tmp/chinese-font/OperatorMono-Book.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "OperatorMono-Bold"
  src: local("OperatorMono-Bold"), url("../lib/font-tmp/chinese-font/OperatorMono-Bold.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "OperatorMono-Light"
  src: local("OperatorMono-Light"), url("../lib/font-tmp/chinese-font/OperatorMono-Light.otf") format("truetype")


@font-face
  font-style: normal
  font-family: "OperatorMono-Medium"
  src: local("OperatorMono-Medium"), url("../lib/font-tmp/chinese-font/OperatorMono-Medium.otf") format("truetype")



@font-face
  font-style: normal
  font-family: "some1"
  src: local("some1"), url("../lib/font-tmp/chinese-font/some/021ea04d-253b-4f37-b8cd-9f331f685bc3.woff2") format("truetype")

@font-face
  font-style: normal
  font-family: "some2"
  src: local("some2"), url("../lib/font-tmp/chinese-font/some/26f1236c-a914-477f-9d0f-10d758702626.woff2") format("truetype")


@font-face
  font-style: normal
  font-family: "some3"
  src: local("some3"), url("../lib/font-tmp/chinese-font/some/33b6f34a-c72d-45b1-b53e-b1f65815790e.woff2") format("truetype")


@font-face
  font-style: normal
  font-family: "some4"
  src: local("some4"), url("../lib/font-tmp/chinese-font/some/818bd3a6-3dd7-4ad9-a6b8-3b6b82be5b51.woff2") format("truetype")

@font-face
  font-style: normal
  font-family: "some5"
  src: local("some5"), url("../lib/font-tmp/chinese-font/some/1219e32f-5895-4122-819b-67e3f37f4b36.woff2") format("truetype")

@font-face
  font-style: normal
  font-family: "some6"
  src: local("some6"), url("../lib/font-tmp/chinese-font/some/9763d82d-a3d6-4c1d-b2f9-5dfe09249d96.woff2") format("truetype")

@font-face
  font-style: normal
  font-family: "calluna"
  src: local("calluna"), url("../lib/font-tmp/chinese-font/some/calluna.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "calluna-sans"
  src: local("calluna-sans"), url("../lib/font-tmp/chinese-font/some/CallunaSansRegular.otf") format("truetype")
  

@font-face
  font-style: normal
  font-family: "operatorssm-book-pro"
  src: local("operatorssm-book-pro"), url("../lib/font-tmp/chinese-font/some/operatorssm-book-pro.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "operatorssm-bookitalic-pro"
  src: local("operatorssm-bookitalic-pro"), url("../lib/font-tmp/chinese-font/some/operatorssm-bookitalic-pro.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "operatorssm-bold-pro"
  src: local("operatorssm-bold-pro"), url("../lib/font-tmp/chinese-font/some/operatorssm-bold-pro.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "operatorssm-bolditalic-pro"
  src: local("operatorssm-bolditalic-pro"), url("../lib/font-tmp/chinese-font/some/operatorssm-bolditalic-pro.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "operatorssm-light-pro"
  src: local("operatorssm-light-pro"), url("../lib/font-tmp/chinese-font/some/operatorssm-light-pro.otf") format("truetype")

/*********************************************/
/*********************************************/

@font-face
  font-style: normal
  font-family: "calluna-sans-bold"
  src: local("calluna-sans-bold"), url("../lib/font-tmp/woff/calluna-sans-bold.woff2") format("truetype")

@font-face
  font-style: normal
  font-family: "calluna-sans-regular"
  src: local("calluna-sans-regular"), url("../lib/font-tmp/woff/calluna-sans-regular.woff2") format("truetype")

@font-face
  font-family: "calluna-sans-regular1"
  src: local("calluna-sans-regular1"), url("../lib/font-tmp/woff/calluna-sans-regular1.woff2") format("woff2")
  font-weight:400
  font-style: normal
  font-display:fallback


/*
├── calluna-sans-bold.woff2
├── calluna-sans-regular.woff2
├── fontello.woff2
├── some1.woff2
├── some2.woff2
├── some3.woff2
├── some4.woff
├── some5.woff2
├── some6.woff2
├── some7.woff2
└── YogaSansWebPro.woff
*/


@font-face  //ok  3.6
  font-family: "Fertigo Pro Regular.ttf"  
  src: local("Fertigo Pro Regular.ttft"), url("../lib/font-tmp/zip/Fertigo/Fertigo Pro Regular.ttf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback



@font-face  //ok  3.6
  font-family: "corda-light"  
  src: local("corda-light"), url("../lib/font-tmp/zip/Capita/corda-light.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face  //ok  3
  font-family: "capita-regular"
  src: local("capita-regular"), url("../lib/font-tmp/zip/Capita/capita-regular.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face  //ok  3.5
  font-family: "Rasmus-Regular_84accca9"
  src: local("Rasmus-Regular_84accca9"), url("../lib/font-tmp/zip/Erasmus/Rasmus-Regular_84accca9.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face //ok 3.7
  font-family: "garalda-regular"
  src: local("garalda-regular"), url("../lib/font-tmp/zip/garalda/garalda-regular.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face //ok 3.5
  font-family: "Lora-Regular.ttf"
  src: local("Lora-Regular.ttf"), url("../lib/font-tmp/zip/lora/Lora-Regular.ttf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback



@font-face //ok 3.5
  font-family: "los andes - weekly light.otf"
  src: local("los andes - weekly light.otf"), url("../lib/font-tmp/zip/los andes - weekly light/los andes - weekly light.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face //ok 3
  font-family: "LunaITCStd.otf"
  src: local("LunaITCStd.otf"), url("../lib/font-tmp/zip/luna/LunaITCStd.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "Merriweather-Regular.otf"
  src: local("Merriweather-Regular.otf"), url("../lib/font-tmp/zip/merriweather/Merriweather-Regular.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face //ok 3.5
  font-family: "Museo 300.ttf"
  src: local("Museo 300.ttf"), url("../lib/font-tmp/zip/Museo/Museo 300.ttf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face //ok 3.5
  font-family: "Museo_JH_Slab_A.otf"
  src: local("Museo_JH_Slab_A.otf"), url("../lib/font-tmp/zip/Museo_JH_Slab/Museo_JH_Slab_A.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "MuseoSans-300.otf"
  src: local("MuseoSans-300.otf"), url("../lib/font-tmp/zip/MuseoSans/MuseoSans-300.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "Myriad Set Pro Regular.ttf"
  src: local("Myriad Set Pro Regular.ttf"), url("../lib/font-tmp/zip/MyriadSetPro/Myriad Set Pro Regular.ttf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "OceanSansStd-Book.otf"
  src: local("OceanSansStd-Book.otf"), url("../lib/font-tmp/zip/ocean/OceanSansStd-Book.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "TitilliumWeb-Regular.ttf"
  src: local("TitilliumWeb-Regular.ttf"), url("../lib/font-tmp/zip/Titillium-Web/TitilliumWeb-Regular.ttf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "yoga.otf"
  src: local("yoga.otf"), url("../lib/font-tmp/zip/yoga/yoga.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "PlayfairDisplay-Regular.pfb.ttf"
  src: local("PlayfairDisplay-Regular.pfb.ttf"), url("../lib/font-tmp/english-font/PlayfairDisplay-Regular.pfb.ttf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback



@font-face 
  font-family: "Monaco.ttf"
  src: local("Monaco.ttf"), url("../lib/font-tmp/english-font/Monaco.ttf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "Sofia-Pro-Light.otf"
  src: local("Sofia-Pro-Light.otf"), url("../lib/font-tmp/english-font/Sofia-Pro-Light.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback





@font-face 
  font-family: "Aileron-Regular.otf"
  src: local("Aileron-Regular.otf"), url("../lib/font-tmp/dotcolon/aileron/Aileron-Regular.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "ferrum.otf"
  src: local("ferrum.otf"), url("../lib/font-tmp/dotcolon/ferrum/ferrum.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "medio.otf"
  src: local("medio.otf"), url("../lib/font-tmp/dotcolon/medio/medio.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face //ok 3.6
  font-family: "Seshat.otf"
  src: local("Seshat.otf"), url("../lib/font-tmp/dotcolon/seshat/Seshat.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face //ok 4
  font-family: "Tenderness-Regular.otf"
  src: local("Tenderness-Regular.otf"), url("../lib/font-tmp/dotcolon/tenderness_0601/Tenderness-Regular.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "Vegur-Regular.otf"
  src: local("Vegur-Regular.otf"), url("../lib/font-tmp/dotcolon/vegur/Vegur-Regular.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback



@font-face //ok 4
  font-family: "NotoSerifCJKtc-Regular_0.otf"
  src: local("NotoSerifCJKtc-Regular_0.otf"), url("../lib/font-tmp/zip/NotoSerif/NotoSerifCJKtc-Regular_0.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face //ok 4
  font-family: "NotoSerifCJKtc-Medium.otf"
  src: local("NotoSerifCJKtc-Medium.otf"), url("../lib/font-tmp/zip/NotoSerif/NotoSerifCJKtc-Medium.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face //ok 4
  font-family: "NotoSerifCJKtc-Medium-cn.otf"
  src: local("NotoSerifCJKtc-Medium-cn.otf"), url("../lib/font-tmp/zip/NotoSerif/NotoSerifCJKtc-Medium-cn.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face //ok 4
  font-family: "NotoSerifCJKtc-Medium-en.otf"
  src: local("NotoSerifCJKtc-Medium-en.otf"), url("../lib/font-tmp/zip/NotoSerif/NotoSerifCJKtc-Medium-en.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "Alegreya-Regular.otf"
  src: local("Alegreya-Regular.otf"), url("../lib/font-tmp/zip/Alegreya/Alegreya-Regular.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback



@font-face 
  font-family: "AlegreyaSans-Regular_1.otf"
  src: local("AlegreyaSans-Regular_1.otf"), url("../lib/font-tmp/zip/AlegreyaSans/AlegreyaSans-Regular_1.otf") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "文鼎DC老外宋G30.TTF"
  src: local("文鼎DC老外宋G30.TTF"), url("../lib/font-tmp/chinese-font/文鼎/文鼎DC老外宋G30.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback


@font-face 
  font-family: "文鼎书林宋体_L.TTF"
  src: local("文鼎书林宋体_L.TTF"), url("../lib/font-tmp/chinese-font/文鼎/文鼎书林宋体_L.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "文鼎书林宋体_M.TTF"
  src: local("文鼎书林宋体_M.TTF"), url("../lib/font-tmp/chinese-font/文鼎/文鼎书林宋体_M.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "文鼎桃花源体.TTF"
  src: local("文鼎桃花源体.TTF"), url("../lib/font-tmp/chinese-font/文鼎/文鼎桃花源体.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "Magpie Bold Italic.TTF"
  src: local("Magpie Bold Italic.TTF"), url("../lib/font-tmp/chinese-font/文鼎/Magpie Bold Italic.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "Magpie Bold.TTF"
  src: local("Magpie Bold.TTF"), url("../lib/font-tmp/chinese-font/文鼎/Magpie Bold.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "Magpie Italic.TTF"
  src: local("Magpie Italic.TTF"), url("../lib/font-tmp/chinese-font/文鼎/Magpie Italic.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face //ok 4
  font-family: "Magpie.TTF"
  src: local("Magpie.TTF"), url("../lib/font-tmp/chinese-font/文鼎/Magpie.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "AR CAROLANN.TTF"
  src: local("AR CAROLANN.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR CAROLANN.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback






@font-face 
  font-family: "AR Script3 Bold.TTF"
  src: local("AR Script3 Bold.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR Script3 Bold.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "AR Roman1 FS Bold.TTF"
  src: local("AR Roman1 FS Bold.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR Roman1 FS Bold.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "AR Roman1 FS Light.TTF"
  src: local("AR Roman1 FS Light.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR Roman1 FS Light.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "AR Roman1 FS Medium.TTF"
  src: local("AR Roman1 FS Medium.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR Roman1 FS Medium.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "AR Roman1 SHS Light.TTF"
  src: local("AR Roman1 SHS Light.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR Roman1 SHS Light.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "AR Roman1 Kai Light.TTF"
  src: local("AR Roman1 Kai Light.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR Roman1 Kai Light.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "AR Roman1 Kai Medium.TTF"
  src: local("AR Roman1 Kai Medium.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR Roman1 Kai Medium.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "AR Roman1 Kai Bold.TTF"
  src: local("AR Roman1 Kai Bold.TTF"), url("../lib/font-tmp/chinese-font/文鼎/AR Roman1 Kai Bold.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "文鼎中行书.TTF"
  src: local("文鼎中行书.TTF"), url("../lib/font-tmp/chinese-font/文鼎/文鼎中行书.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "文鼎书林宋体_E.TTF"
  src: local("文鼎书林宋体_E.TTF"), url("../lib/font-tmp/chinese-font/文鼎/文鼎书林宋体_E.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "文鼎书林宋体_B.TTF"
  src: local("文鼎书林宋体_B.TTF"), url("../lib/font-tmp/chinese-font/文鼎/文鼎书林宋体_B.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

@font-face 
  font-family: "文鼎DC黄阳尖魏体_B.TTF"
  src: local("文鼎DC黄阳尖魏体_B.TTF"), url("../lib/font-tmp/chinese-font/文鼎/文鼎DC黄阳尖魏体_B.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback

