@font-face
  font-style: normal
  font-family: "Footer"
  src: url("../lib/fonts/PARaDOS/PARaDOS.woff2") format("woff2")

@font-face
  font-style: normal
  font-family: "Title"
  src: url("../lib/fonts/FZPiaoTJW/FZPiaoTJW_Xian.woff2") format("woff2")
  font-weight: 400

@font-face
  font-style: normal
  font-family: "Title"
  src: url("../lib/fonts/FZPiaoTJW/FZPiaoTJW_Xi.woff2") format("woff2")
  font-weight: 700



@font-face
  font-weight: 300
  font-style: normal
  font-family: "OperatorMono"
  src: url("../lib/fonts/OperatorMono/OperatorMono-Light.otf") format("truetype")

@font-face
  font-weight: 300
  font-style: italic
  font-family: "OperatorMono"
  src: url("../lib/fonts/OperatorMono/OperatorMono-LightItalic.otf") format("truetype")

@font-face
  font-family: "OperatorMono"
  font-weight: 400
  font-style: normal
  src: url("../lib/fonts/OperatorMono/OperatorMono-Book.otf") format("truetype")

@font-face
  font-family: "OperatorMono"
  font-weight: 400
  font-style: italic
  src: url("../lib/fonts/OperatorMono/OperatorMono-BookItalic.otf") format("truetype")

@font-face
  font-style: normal
  font-weight: 700
  font-family: "OperatorMono"
  src: url("../lib/fonts/OperatorMono/OperatorMono-Medium.otf") format("truetype")

@font-face
  font-style: italic
  font-weight: 700
  font-family: "OperatorMono"
  src: url("../lib/fonts/OperatorMono/OperatorMono-MediumItalic.otf") format("truetype")

@font-face
  font-family: "OperatorMono"
  font-weight: 900
  font-style: normal
  src: url("../lib/fonts/OperatorMono/OperatorMono-Bold.otf") format("truetype")

@font-face
  font-family: "OperatorMono"
  font-weight: 900
  font-style: italic
  src: url("../lib/fonts/OperatorMono/OperatorMono-BoldItalic.otf") format("truetype")



@font-face
  font-family: "CallunaSans"
  font-weight: 300
  font-style: normal
  src: url("../lib/fonts/CallunaSans/CallunaSansLight.otf") format("truetype")

@font-face
  font-family: "CallunaSans"
  font-weight: 300
  font-style: italic
  src: url("../lib/fonts/CallunaSans/CallunaSansLightItalic.otf") format("truetype")


@font-face
  font-family: "CallunaSans"
  font-weight: 400
  font-style: normal
  src: url("../lib/fonts/CallunaSans/calluna-sans-regular.woff2") format("woff2")

@font-face
  font-family: "CallunaSans"
  font-weight: 400
  font-style: italic
  src: url("../lib/fonts/CallunaSans/CallunaSansRegularItalic.otf") format("truetype")


@font-face
  font-family: "CallunaSans"
  font-weight: 700
  font-style: normal
  src: url("../lib/fonts/CallunaSans/calluna-sans-bold.woff2") format("truetype")

@font-face
  font-family: "CallunaSans"
  font-weight: 700
  font-style: italic
  src: url("../lib/fonts/CallunaSans/CallunaSansBoldItalic.otf") format("truetype")


@font-face //ok 4
  font-family: "Magpie"
  src: local("Magpie.TTF"), url("../lib/font-tmp/chinese-font/文鼎/Magpie.TTF") format("truetype")
  font-weight:500
  font-style: normal
  font-display:fallback