// Fonts
$font-family-title = "Title","NotoSerifCJKtc-Medium-cn.otf"
$font-family-about = "NotoSerifCJKtc-Medium-cn.otf"
$font-family-footer = "Footer"
$font-family-post-title = "Magpie"
$font-family-body = "OperatorMono","PingFang SC","Source Han Sans Normal","Myriad Pro", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif
$font-family-mono = "OperatorMono",'PingFang SC',sans-serif
$font-family-tt = "Inconsolata", monospace
$font-family-small1 = "CallunaSans"
$font-family-small2 = "yoga.otf"
$font-size = 14px
$line-height = 1.725
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
