@import "_variables"
@import "_colors/" + $colors
@import "_util"
@import "_mixins"
@import "_extend"
@import "_fonts"
@import "_fonts1"

global-reset()

*, *:before, *:after
  box-sizing: border-box

html
  height: 100%
  border-top: 1px solid $color-text
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
 
  &::-webkit-scrollbar 
    width: 5px
    height: 7px
  &::-webkit-scrollbar-thumb 
    height: 50px
    background-color: #666
    border-radius: 16px
    &:hover 
      background-color: #bbb
::selection
  background: rgba(0, 149, 255, .1)
  text-shadow 0px 0.1rem 0.05rem rgba(39, 73, 134, 0.18)
::-moz-selection
  background: rgba(0, 149, 255, .1)
  text-shadow 0px 0.1rem 0.05rem rgba(39, 73, 134, 0.18)
::-webkit-selection
  background: rgba(0, 149, 255, .1)
  text-shadow 0px 0.1rem 0.05rem rgba(39, 73, 134, 0.18)
  
body
  display: flex
  flex-direction: column
  background-color: $color-background
  background-color: #fbfbfb
  color: $color-text
  font-display: swap // @stylint ignore
  font-weight: 400
  font-size: $font-size
  font-family: $font-family-body
  line-height: $line-height
  text-rendering: geometricPrecision
  min-height: calc(100vh - 30px)

  ::-webkit-scrollbar 
    width: 1px
    height: 4px
  ::-webkit-scrollbar-thumb 
    &:vertical 
      height: 50px
      cursor: pointer
      border-radius: 16px
      background-color: #666
      transition: color 0.2s ease
      &:hover 
        background-color: #bbb
    &:horizontal 
      height: 50px
      cursor: pointer
      border-radius: 16px
      background-color: #bbb
      transition: color 0.2s ease
      &:hover 
        background-color: #666

  antialias()

a
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; 
  tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: transparent; 

.content
  flex: 1

  @extend $base-style

  *
    line-height: 2

  p
    hyphens(auto)
    margin: 14px 0 28px 0
    line-height: 2
    word-wrap: break-word;
    word-break: break-all;

  code
    hyphens(manual)

  a
    color: $color-text
    text-decoration: none
    underline(6px, $color-text)
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; 
    tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: transparent; 

    &:hover
      //background-image: linear-gradient(transparent, transparent 5px, $color-link 5px, $color-link)
      color: #000
      box-shadow: 0 2px 0 $color-accent-1
      transition: all .3s;
  a.icon
    background: none

    &:hover
      color: $color-link

  h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
    background: none
    color: inherit
    text-decoration: none

  h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
    underline(6px, $color-link)

  h6
    a
      background: none
      color: inherit
      text-decoration: none

  h6
    a:hover
      underline(6px, $color-link)

@media (min-width: 540px)
  .image-wrap
    flex-direction: row
    margin-bottom: 2rem

    .image-block
      flex: 1 0 35%
      margin-right: 2rem

    p
      flex: 1 0 65%

.max-width
  max-width: $page-width

@media (max-width: 480px)
  // smaller margins at smaller screen widths
  body ::-webkit-scrollbar
    width: 1px;
    height: 1px;
  .px3
    padding-right: 1rem
    padding-left: 1rem

  .my4
    margin-top: 2rem
    margin-bottom: 2rem

@media (min-width: 480px)
  p
    text-align: justify

@import "_partial/header"
@import "_partial/post/actions_desktop"
@import "_partial/post/actions_mobile"
@import "_partial/index"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/comments"
@import "_partial/footer"
@import "_partial/pagination"
@import "_partial/search"
// Code
@import "_highlight/" + $highlight

pre
  overflow-x: auto
  padding: 10px 15px
  padding-bottom: 0
  border: 1px dotted $color-border
  border-radius: 4px
  font-size: 13.5px
  font-family: $font-family-mono
  line-height: 22px
  -webkit-border-radius: 4px

  code
    display: block
    padding: 0
    border: none

code
  padding: 2px
  margin: 2px
  //border: 1px dotted $color-border
  border-radius: 3px
  -webkit-border-radius: 3px
  color #142e4c
  background-color: rgba(212,212,212,0.26);
  font-size: 0.85rem;
  font-family: $font-family-body

.highlight
  overflow-x: auto
  margin: 1rem 0
  padding: 10px 15px 10px 10px
  border-radius: 4px
  background: $color-background-code
  font-family: $font-family-mono
  // color: $color-accent-3
  -webkit-border-radius: 4px
  //box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12)

  figcaption
    margin: -5px 0 5px
    color: $color-meta-code
    font-size: .9em
    zoom: 1

    a
      float: right
      color: $color-meta-code
      font-style: italic
      font-size: .8em

      underline(10px, $color-link)

    a:hover
      color: lighten($color-meta-code, 20%)

    &:before, content: ""
      display: table

    &:after
      clear: both

  pre
    padding: 0
    border: none
    background: none

  table
    width: auto

  td.gutter
    text-align: right

    pre
      border-right: 1px dashed #3333337d;
      border-radius: 0px
      padding-right: 7px

  .line
    height: 22px


.block-explore-title
  margin-left: 1rem
  margin-right: 1rem
  border-bottom: 1px solid #e8e8e8;

.block-explore-title-header
  display: inline-block!important
  margin-top: 0!important
  margin-bottom: -1px!important
  margin-left 0!important
  border-bottom: 1px solid #262626!important

.widget.tagcloud>ul
  padding-left: 1rem;
