// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 1%)
$color-footer-mobile-2 = darken($color-background, 3%)
$color-background-code = darken($color-background, 3%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = #409c28
$color-link-tag = #45b358
$color-text = #444
$color-dark1 =#000
$color-dark2 =#333
$color-dark3 =#666
$color-accent-3 = #8c8c8c
$color-accent-2 = #383838
$color-accent-1 = rgb(69, 179, 88)
$color-quote = #389c49
$color-warning = #d7191a
$highlight = hexo-config("highlight") || "atelier-cave-light"

$color-bak = rgb(69, 179, 88)
$color-bak = #389F90
$color-bak = rgb(179, 36, 127)
$color-link-bak = #d7191a
$color-link-bak = #f60c3e
