<!--Categories-->
<% if (page.type==="categories") { %>
<% if (site.categories.length){ %>
<div class="block-explore-title">
  <h2 class="block-explore-title-header"><a href="#文章分类" class="headerlink" title="文章分类"></a>文章分类</h2>
</div>
<div class="widget categories-list-all">
  <%- list_categories(site.categories) %>
</div>
<% } %>
<% } %>