<% if (page.type==="links") { %>
<div class="nav-links">
<div class="panel">
  <div class="panel-title card">
    <i class="iconfont fab fa-connectdevelop fa-lg"></i>
    小伙伴们～
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="sm-6 md-4 lg-3">
        <div class="card">
          <a class="card-heading link-tooltip" title="http://www.huangao.net" href="https://www.huangao.net" target="_blank">
            <span class="card-icon">
              <img src="https://xschaoya-1256932190.cos.ap-guangzhou.myqcloud.com/images/links/huangao.ico">
            </span>
            <span class="card-title">
              HuangAo's Blog</span>
          </a>
          <div class="card-body" style="padding-bottom: 12px;">
            记录型博客，分享好用工具和好玩的数码产品</div>
        </div>
      </div>
      
  
    </div>
  </div>



</div>
</div>

<% } %>