#header-post
  position: fixed
  top: 2rem
  right: 0
  display: inline-block
  float: right
  z-index: 1

  a
    background: none
    color: inherit
    text-decoration: none

  a.icon
    background: none

    &:hover
      color: $color-link

  ol
    list-style-type: none
    padding-left: 20px

  ul
    display: inline-block
    margin: 0
    padding: 0
    list-style-type: none

    li
      display: inline-block
      margin-right: 15px
      vertical-align: middle

    li:last-child
      margin-right: 0

  #menu-icon
    float: right
    margin-right: 2rem
    margin-left: 15px

    &:hover
      color: $color-accent-1

  #menu-icon-tablet
    float: right
    margin-right: 2rem
    margin-left: 15px

    &:hover
      color: $color-accent-1

  #top-icon-tablet
    position: fixed
    right: .5rem
    bottom: 2rem
    margin-right: 2rem
    margin-left: 15px
    z-index: 999999

    i
      color: rgba(87, 93, 91, 0.41);
      text-shadow: 0 12px 12px rgba(2, 2, 2, 0.08);
      cursor: pointer;
      transition: all .5s;
      &:hover
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        display: inline-block;
        transition: all .3s;
        text-shadow: 0 12px 12px rgba(2, 2, 2, 0.1);
        color: #8aa091

  //.active
    //color: $color-accent-1

  #menu
    //visibility: hidden
    margin-right: 2rem
    

   

  #nav
    color: $color-accent-1
    letter-spacing: .01em
    font-weight: normal
    font-style: normal
    font-size: .8rem

    ul
      line-height: 15px

      a
        margin-right: 15px
        color: color-accent-1

      a:hover
        //underline(5px, $color-accent-1)

      li
        border-right: 1px dotted $color-accent-1

      li:last-child
        margin-right: 0
        border-right: 0

        a
          margin-right: 0

    a
      text-decoration: none
      background: none
      position: relative;
      &:hover
        background: none
      &:before
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -2px
        left: 0;
        background-color: #000;
        /* visibility: hidden; */
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
        transition-delay: 0
      //underline(6px, $color-text)
      &:hover:before
        //background-image: linear-gradient(transparent, transparent 5px, $color-link 5px, $color-link)
        visibility: visible;
        -webkit-transform: scaleX(0.95);
        -moz-transform: scaleX(0.95);
        -ms-transform: scaleX(0.95);
        -o-transform: scaleX(0.95);
        transform: scaleX(0.95);
        height: 2px;
        background-color: $color-accent-1
        
  #actions
    float: right
    margin-top: 2rem
    margin-right: 2rem
    width: 100%
    text-align: right

    ul
      display: block

    .info
      display: block
      font-style: italic

  #share
    clear: both
    padding-top: 1rem
    padding-right: 2rem
    text-align: right

    a
      display: block
      margin-top: 8px
      vertical-align: middle

    a:last-child
      margin-bottom: 5px

    li
      display: block
      margin: 0

    /*!
    a.icon.social-share-icon.icon-wechat
      .wechat-qrcode
        display: none
      .wechat-qrcode.active
        display: block
    */
    .wechat-qrcode
      position: fixed
      top: 45%
      left: 50%
      width: 350px
      max-width: 550px
      min-width: 320px
      height: 380px
      z-index: 9999999
      visibility: hidden
      -webkit-transform: translateX(-50%) translateY(-50%)
      -moz-transform: translateX(-50%) translateY(-50%)
      -ms-transform: translateX(-50%) translateY(-50%)
      transform: translateX(-50%) translateY(-50%)
      display: block
      box-shadow: 0 5px 25px rgba(0,0,0,.1)
      border: 1px solid rgba(0,0,0,.1)
      background: #fff
      border-radius: 6px
      overflow: hidden
      opacity: 0;
      transition: all 0.3s

      &.md-show
        opacity: 1
        visibility: visible

      .modal-header
        border: none
        padding: 20px
        padding-bottom: 0

        &:after
          content: " "
          display: table
          clear: both
        &:before
          content: " "
          display: table

        button
          &.close
            cursor: pointer
            background: transparent
            border: 0
            font-weight: 200
            font-size: 26px
            text-shadow: none
            font-size: 21px
            font-weight: 700
            line-height: 1
            color: #000
            text-shadow: 0 1px 0 #fff
            opacity: .2
            font-family: inherit
            line-height: inherit
            text-transform: none
            color: inherit
            margin: 0
            margin-top: -2px
            padding: 0
            cursor: pointer
            background: transparent
            border: 0
            font-weight: 200
            font-size: 26px
            outline: none
            text-shadow: none
            float: right
            line-height: 1
            color: #000
            opacity: .2
            font-family: inherit
            text-transform: none
            margin: 0

      .modal-body
        padding: 20px 60px 30px
        text-align: center
        overflow: auto
        position: relative

        h5
          font-weight: 500
          line-height: 1.1
          color: inherit
          font-size: 14px
          margin-top: 10px
          margin-bottom: 10px

        .qrcode
          padding: 20px 0 20px 30px

        
        
    .md-overlay 
      position: fixed
      width: 100%
      height: 100%
      visibility: hidden
      top: 0
      left: 0
      z-index: 9999995
      opacity: 0
      background: hsla(0,0%,100%,.7)
      -webkit-transition: all 0.3s
      -moz-transition: all 0.3s
      transition: all 0.3s

    //.md-show 
    //  visibility: visible
    
    .social-show
      & ~ .md-overlay 
        opacity: 1
        visibility: visible


  #toc
    float: right
    clear: both
    overflow: auto
    margin-top: 1rem
    padding-right: 2rem
    max-width: 18rem
    max-height: calc(90vh - 8rem)
    text-align: left
    line-height: 1.7

    ol.toc
      max-width: calc((100vw - 50rem) / 2)
    
    a
      font-family: $font-family-mono

    a.active
      color: $color-link
      text-shadow: 2px 3px 0 rgba(44,115,40,0.06);
      //box-shadow: 0 1px 0 rgba(43,80,29,0.25);
      transition: all 0.05s;
    a:hover
      color: $color-link
      text-shadow: 2px 3px 0 rgba(44,115,40,0.06);
      //box-shadow: 0 1px 0 rgba(43,80,29,0.25);
      transition: all 0.05s;

    .toc-level-1 > .toc-link
      display: none

    .toc-level-2
      color: $color-text
      font-size: .85rem
      >a.active,>a:hover
        font-size: .86rem
        transition: all 0.05s;

      &:before
        color: $color-accent-1
        content: "#"

    .toc-level-3
      color: $color-meta
      font-size: .8rem
      >a.active,>a:hover
        font-size: .81rem
        transition: all 0.05s;

    .toc-level-4
      color: darken($color-meta, 20%)
      font-size: .75rem
      >a.active,>a:hover
        font-size: .76rem
        transition: all 0.05s;

    .toc-level-5
      display: none

    .toc-level-6
      display: none

    .toc-number
      display: none

// smartphone + phapblet
@media screen and (max-width: 500px)
  #header-post
    display: none

@media screen and (max-width: 900px)
  #header-post
    #menu-icon
      display: none

    #actions
      display: none

@media screen and (max-width: 1199px)
  #header-post
    #toc
      display: none

@media screen and (min-width: 900px)
  #header-post
    #menu-icon-tablet
      display: none !important

    #top-icon-tablet
      display: none !important

@media screen and (min-width: 1199px)
  #header-post
    #actions
      width: auto

      ul
        display: inline-block
        float: right

      .info
        display: inline
        float: left
        margin-right: 2rem
        font-style: italic
