#error-recommend-read
  h2
    i
      margin  0 4px 0 0px

#error
  blockquote
    &:before
      content none!important
    .gutter
      display none

    td.code
      pre
        span
          word-wrap: break-word;
          word-break: normal;
          white-space: pre-wrap
        .number404
          color #ae81ff!important
          //font-family: "Footer"

        #show
          color #ae81ff!important
          font-size: 1.1rem
          font-weight: bolder
          font-family: "Footer"

          