@-webkit-keyframes  arrowBackToStart-data-v-262420ea 
    0% 
        left 20px
    to 
        left 0


@keyframes arrowBackToStart-data-v-262420ea
    0%
        left: 20px
    to
        left: 0


@-webkit-keyframes arrowInFromLeft-data-v-262420ea
    0%
        right: 100%
    to
        right: 0


@keyframes arrowInFromLeft-data-v-262420ea
    0%
        right: 100%
    to
        right: 0

@-webkit-keyframes arrowOutFromLeft-data-v-262420ea
    0%
        right: 0
    to
        right: -100%


@keyframes arrowOutFromLeft-data-v-262420ea
    0%
        right: 0
    to
        right: -100%

@-webkit-keyframes arrowOutToRight-data-v-262420ea
    0%
        left: 0
    to
        left: 100%

@keyframes  arrowOutToRight-data-v-262420ea
    0%
        left: 0
    to
        left: 100%

@-webkit-keyframes elasticWidth-data-v-262420ea
    0%
        width: 46px
    to
        width: 32px

@keyframes elasticWidth-data-v-262420ea
    0%
        width: 46px

    to
        width: 32px

@-webkit-keyframes hide-data-v-262420ea
    0%
        opacity: 1
    to
        opacity: 0

@keyframes　hide-data-v-262420ea
    0%
        opacity: 1
    to
        opacity: 0


@-webkit-keyframes  show-data-v-262420ea
    0%
        opacity: 0
    to
        opacity: 1

@keyframes show-data-v-262420ea
    0%
        opacity: 0
    to
        opacity: 1

.service-item__text
  display block

.arrow-link[data-v-262420ea] 
  font-family Graphik Web, sans-serif
  font-weight 300
  font-size 15px
  font-weight 400
  letter-spacing .75px
  line-height 27px
  display inline-block
  white-space nowrap
  cursor pointer
  box-shadow  none!important
  vertical-align  middle
.arrow-link
  
  &.arrow-link--button[data-v-262420ea] 
    border 0
    background 0
    color currentColor
    cursor pointer
    padding 0
    outline none
  &.arrow-link--expand[data-v-262420ea]:before 
    content ""
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 1
  &:hover 
    .arrow-link__arrow__icon--original[data-v-262420ea] 
      animation-name arrowOutToRight-data-v-262420ea
      animation-duration .3s
      animation-fill-mode forwards
      animation-timing-function ease-in-out
    &.arrow-link--hover-only 
      .arrow-link__arrow__icon--original[data-v-262420ea] 
        opacity 0
        animation-name hide-data-v-262420ea
        animation-fill-mode backwards
        animation-duration 0s
    .arrow-link__arrow__icon--hover[data-v-262420ea] 
      animation-name arrowInFromLeft-data-v-262420ea, elasticWidth-data-v-262420ea
      animation-duration .38s, .33s
      animation-fill-mode forwards
      animation-timing-function cubic-bezier(.38, .35, 0, 1.01)
      animation-delay .15s, .33s
.arrow-link__arrow[data-v-262420ea] 
  display inline-block
  position relative
  overflow hidden
  width 52px
  margin-right 8px
  vertical-align middle
  height 1em
.arrow-link--right 
  .arrow-link__arrow[data-v-262420ea] 
    float right
    margin 10px 0 auto 2px
.arrow-link--back 
  .arrow-link__arrow[data-v-262420ea] 
    margin-top -10px
    transform rotate(180deg)
.arrow-link--large 
  .arrow-link__arrow[data-v-262420ea] 
    height 2.3em
  .arrow-link__arrow__icon[data-v-262420ea] 
    top 50%
.arrow-link__arrow__icon[data-v-262420ea] 
  position absolute
  height 9px
  overflow hidden
.arrow-link__arrow__icon--original[data-v-262420ea] 
  right 0
  width 30px
  animation-name arrowBackToStart-data-v-262420ea
  animation-duration .3s
  animation-fill-mode forwards
  animation-timing-function ease-in-out
.arrow-link--back .arrow-link__arrow__icon--original[data-v-262420ea],
.arrow-link--right .arrow-link__arrow__icon--original[data-v-262420ea] 
  animation none
.arrow-link--hover-only 
  .arrow-link__arrow__icon--original[data-v-262420ea] 
    animation-name show-data-v-262420ea, arrowOutFromLeft-data-v-262420ea
    animation-duration 0s, .3s
    animation-fill-mode backwards, forwards
    animation-delay 0s
.arrow-link:hover.arrow-link--back .arrow-link__arrow__icon--original[data-v-262420ea],
.arrow-link:hover.arrow-link--right .arrow-link__arrow__icon--original[data-v-262420ea] 
  animation-name arrowOutFromLeft-data-v-262420ea
.arrow-link__arrow__icon--hover[data-v-262420ea] 
  right 100%
  width 46px
  animation-name hide-data-v-262420ea
  animation-duration 0
  animation-fill-mode forwards
.arrow-link__arrow__icon 
  svg[data-v-262420ea] 
    fill currentColor
    position absolute
    right 0
    top 0
.arrow-link__text[data-v-262420ea] 
  transition margin-left .3s ease-in-out
:not(.arrow-link--disable-text-animation).arrow-link 
  &:hover 
    .arrow-link__text[data-v-262420ea] 
      margin-left 20px
