#archive
  ul.post-list
    padding: 0 0 0 1rem

    li.post-item
      margin: 5px
      margin-bottom: 5px
      margin-left: 1rem
      list-style-type: square

      .meta
        display: none
        margin-right: 16px
        min-width: 100px
        color: $color-meta
        font-size: 14px


  @media (min-width: 490px)
    ul.post-list
      padding: 0
      
        
      li.post-item
        display: flex
        margin: 5px
        list-style-type: none
        

        .meta
          text-align: left
          display: block

  @media (max-width: 480px)
    ul.post-list
      li.post-item
        a
          box-shadow: none