#about 
  //white-space pre-wrap
  //margin-bottom: 20px
  font-family: $font-family-about
  font-size: 1.02em
  overflow hidden
  show hidden
  visibility hidden
  display: none
  p
    margin: 3px  0px 7px 1rem
    display inline
    max-width: calc(100vw - 4rem - 5px);
    text-indent: 1em;

  
  .t-caret
    background-color: #333
    width 2px
    display: inline-block
    height 1rem
    text-align: center
    vertical-align: middle

  .fab,.fas
    display: inline !important

#search
  margin-top: 20px
  margin-bottom: 20px;

#search-input
  font-family: $font-family-body 
  font-size: 0.875rem;
  //margin-top: 20px

.post-list
  padding: 0

  .post-item
    margin: 1rem
    margin-left: 0
    list-style-type: none

    .meta
      display: none
      margin-right: 16px
      min-width: 100px
      color: $color-meta
      font-size: 14px
      i.icon
        vertical-align: middle;
        margin  0 -4px 0 4px
        position: relative;
        top: .1em;
      time
        vertical-align: middle;


    .item-title
      line-height: 1em!important
      font-size: 1.15rem
      position relative
      font-family: $font-family-post-title
      //font-weight: bold
      *
        line-height: 1em!important
      a
        background: none
        box-shadow: none
        transition: all .3s;
        color: #161616
        &:hover
          color: #000
          box-shadow: 0 2px 0 $color-accent-1
          transition: all .3s;
      a:before
        content none!important
      a:hover
        //font-size: 1.16rem
        color #000
        transition: all 0.05s;
      span
        vertical-align: top;
        font-size: 1.2rem;
        margin: .2em auto 0;
        font-weight: 700;
        font-family: $font-family-small
        display: block;
        letter-spacing: 0;
        -moz-font-feature-settings: 'tnum';
        -webkit-font-feature-settings: 'tnum';
        font-feature-settings: 'tnum';
        position: absolute;
        left: -2.3em;
        top: -.15em;
        &:before
          content: "№";
          margin: 0 .1em 0 0;
          vertical-align: top;
        @media screen and (max-width: 900px)
 
          display: block;
          vertical-align: baseline;
          font-size: .75em;
          position: static;

    .item-meta
      font-family: $font-family-small
      line-height: 1em!important
      margin  10px 0px 0px 0px
      display flex
      justify-content: space-between
      *
        line-height: 1em!important
        color: #8c8c8c!important
        font-size: 0.875rem!important
      a:before
        //background-color:  #8c8c8c!important
      i.icon
        //vertical-align: middle;
        margin  0 -4px 0 0px
        position: relative;
        top: .12em;

      .article-tag:before
        content none

      a.tag-link:before
        content: "#"
        color: #45b358
        font-weight: 700
        margin: 0 0.1em 0 0
        background-color: none 
        position: inherit
      a.tag-link:hover
        //font-size: 0.9rem !important;
        //color #000
        transition: all 0.05s;
    .item-excerpt
      br
          display none!important
        
      a.item-readmore
        border: none;
        display: inline-flex;
        font-weight: 700;
        align-items: center;
        font-size: .85em;
        padding: .05em .3em 0 .4em;
        background: rgba(228, 226, 226, 0.46)!important
        //color: #333
        line-height: 1.75
        &:before
          content:none!important

        &:hover
          color: #fff
          border: none
          background: #000!important

      p
        margin:14px 0 0 0
      

@media (min-width: 480px)
  .post-list
    .post-item
      //display: flex
      margin-bottom: 5px

      .meta
        text-align: left
        display: inline-block
      
      .post-excerpt
        //margin-left: 25px

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline

#archive,article.post .content
  font-family: $font-family-mono
  
  a
    color: $color-text
    text-decoration: none
    background: none
    position: relative;

    &:hover
      background: none

    &:before
      //content: "";
      //position: absolute;
      //width: 100%;
      //height: 1px;
      //bottom: 0px
      //left: 0;
      //background-color: #000;
      /* visibility: hidden; */
      /* -webkit-transform: scaleX(0); */
      //-moz-transform: scaleX(0);
      //-ms-transform: scaleX(0);
      //-o-transform: scaleX(0);
      /* transform: scaleX(0); */
      //transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      transition-delay: 0

    //underline(6px, $color-text)

    &:hover:before
      //background-image: linear-gradient(transparent, transparent 5px, $color-link 5px, $color-link)
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1);
      height: 1.7px;
      background-color: #45b358;

#archive h2:before
  position: absolute;
  top: -4px;
  left: -1rem;
  color: #45b358;
  content: "#";
  font-weight: bold;
  font-size: 1.2rem;

#writing
  .post-list
    margin-left: 0
    margin-top: 24px
    .post-item
      margin 0 0 24px 0
      padding 0 0 24px 0
      border-bottom: 1px dashed rgba(179, 197, 171, 0.25)
      display flex

      .post-item-inner
        //width: 196px;
        //margin-left: 24px;

      .post-item-cover
        &:before
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 2;
          z-index: 1;
          background-color: transparent;
          transition: background .3s;
        width: 196px;
        min-width: 196px;
        max-width: 196px;
        max-height: 150px
        margin-left: 24px;
        display block
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        a.img-link
          //opacity: 0;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 2;
          font-size: 28px;
          transition: transform .3s,opacity .3s;
        img
          width: 196px;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;

      .post-item-cover:hover
        &:before
          background-color: rgba(0,0,0,.2);
        img
          transform: scale(1.1,1.1)
          transition: transform .4s linear
          border-radius 4px

      .item-excerpt-cover
        &:before
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 2;
          z-index: 1;
          background-color: transparent;
          transition: background .3s;
        //min-width: 90px;
        //max-width: 120px
        width 120px
        min-width: 120px;
        max-width: 120px;
        height 100px
        margin-left: 7px;
        float right 
        display none
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        a.img-link
          //opacity: 0;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 2;
          font-size: 28px;
          transition: transform .3s,opacity .3s;
        img
          width: 120px
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
          
      .item-excerpt-cover:hover
        &:before
          background-color: rgba(0,0,0,.2);
        img
          transform: scale(1.1,1.1)
          transition: transform .4s linear
          border-radius 4px

  .h2
    &:before
      position: absolute;
      top: -4px;
      left: -1rem;
      color: #45b358;
      content: "#";
      font-weight: bold;
      font-size: 1.2rem;

@media only screen and (max-width: 600px)
  #writing
    .post-list
      .post-item
        .post-item-cover
          display: none
        .item-excerpt-cover
            display block



#index-top-icon-tablet
    position: fixed;
    right: 0.25rem;
    bottom: 2rem;
    margin-right: .5rem;
    margin-left: 15px;
    z-index: 999999;
    text-decoration: none;
    background: none;
    box-shadow: none
    
    i
      color: rgba(87, 93, 91, 0.41);
      text-shadow: 0 12px 12px rgba(2, 2, 2, 0.08);
      cursor: pointer;
      transition: all .5s;
      &:hover
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        display: inline-block;
        transition: all .3s;
        text-shadow: 0 12px 12px rgba(2, 2, 2, 0.1);
        color: #8aa091